@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/map.js"></script>
<script src="~/js/site.js"></script>
<script src="@ViewBag.apiConnectionString" async defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>


<link href="~/css/site.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/155f0e6c6f.js" crossorigin="anonymous"></script>





<div id="search-box">
    <input type="text" id="search-input" placeholder="Skriv en adress">
    <button class="searchBtn" onclick="search()">Sök</button>
</div>

<div class="ui-container">
    <button id="follow-button"><i class="fa-solid fa-crosshairs fa-3x"></i></button>
    <div class="info-container">
        <div class="date-container">
            <div style="display:flex;">
                <label style="margin-right:10px;"><i class="fa-solid fa-location-dot" style="color: #9381ff;"></i></label>
                <label id="parkingMessage"></label>
            </div>
        </div>
    </div>
    <button id="restoreButton" class="styled-button" onclick="showHide(), rotateIcon()">Inatt får du stå på <span>@ViewBag.EvenOrOdd </span>gatunummer <i id="chevron" class="fa-solid fa-chevron-up fa-rotate-180" style="color: #262626; margin-left: 2rem;"></i></button>
</div>


<div id="map">

</div>
