* {
    font-family: 'Poppins', sans-serif;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.mb-3{
    margin-bottom:0;
}

.minimized {
    height: 0;
    overflow: hidden;
}


.styled-button {
    position: absolute;
    border: none;
    width: 100%;
    height: 2rem;
    color: black;
    background-color: #F8F7FF;
    font-size:12px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#toggleButton {
    color: black;
    background-color: #F8F7FF;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    padding: 4px 8px;
}

body {
  margin-bottom: 60px;
  padding: 0;
}
.date-container {
    position: relative;
    top: 12%;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-top:2rem;
    max-width: 500px;
    font-size: 13px;
    visibility: visible;
    background-color: #F8F7FF;
}
#ParkingRulesLabel{
    visibility: hidden;
}

.container{
    padding:0;
}

#search-box{
    width:100%;
    display:flex;
    flex-direction:row;
    margin-top: -1rem;
}

#search-input {
    width: 100%;
    padding: 10px;
    background-color: #B8B8FF;
    border: none;
    color: #f8f7ff;
}

.searchBtn {
    width: 10rem;
    background-color: #9381FF;
    border: none;
    color: #f8f7ff;
}

#read-more-btn {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #9381FF;
    color: #F8F7FF;
    z-index: 3;
    position: fixed;
    bottom: 0%;
    max-width: 82.5rem;
}

#more {
    position:absolute;
    padding: 20px;
    padding-bottom: 40px;
    height:fit-content;
    border: 4px dashed #9381FF;
    background-color: #F8F7FF;
    z-index: 1;
    animation: slide .4s ease-in;
}

@keyframes slide{
    0%{
        transform: translateY(50rem)
    }
    100%{
        transform: translateY(0)
    }
}

#details {
    margin: 3rem;
    position:fixed;
    bottom:3%;
    visibility:collapse;
}

#map {
    position: absolute;
    top: 55px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:-1;
}

.pb-3 {
    padding-bottom: 0 !important;
}

#follow-button {
    position: absolute;
    bottom: 10%;
    right: 5%;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    border: none;
    z-index: -1;
}

.active {
    color: #9381FF;
}



/*------------------------------------------------------*/
