* {
    font-family: 'Poppins', sans-serif;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding: 0;
}
.date-container {
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 50px 10px 0px 10px;
    max-width: 500px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    position: absolute;
    z-index: 3;
    background-color: #F8F7FF;
}
#ParkingRulesLabel{
    visibility: hidden;
}

.container{
    padding:0;
}

#search-box{
    width:100%;
    display:flex;
    flex-direction:row;
}

#search-input {
    width: 100%;
    padding: 10px;
    background-color: #B8B8FF;
    border: none;
    color: #f8f7ff;
}

.searchBtn {
    width: 10rem;
    background-color: #9381FF;
    border: none;
    color: #f8f7ff;
}

#read-more-btn {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #9381FF;
    color: #F8F7FF;
    margin-top: -2rem;
    z-index: 3;
    position: absolute;
    max-width:82.5rem;
}

#more{
    padding: 20px;
    margin:0;
    margin-top: 25px;
    border:4px dashed #9381FF;
}

#details {
    margin: 3rem;
}